.detailsCharacter__section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.detailsCharacter__back_btn {
  align-self: flex-start;
  font-weight: 700;
}
.detailsCharacter__back_btn,
.detailsCharacter__name,
.detailsCharacter__gender,
.detailsCharacter__origins,
.detailsCharacter__place,
.detailsCharacter__species,
.detailsCharacter__status {
  font-size: clamp(1.6rem, 3vw, 3rem);
}
.detailsCharacter__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1.2rem;
}
.detailsCharacter__imgContainer {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.detailsCharacter__name {
  margin: 1.6rem 0;
  color: var(--cyan);
  text-shadow: var(--text-shadow);
}
.detailsCharacter__gender,
.detailsCharacter__origins,
.detailsCharacter__status,
.detailsCharacter__species,
.detailsCharacter__place {
  font-size: clamp(1.6rem, 3vw, 2rem);
}
