.singleCharacter__article {
  height: 100%;
  background-color: var(--grey-100);
  padding: 2.5rem 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-3);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
.singleCharacter__name {
  margin: 0;
  flex: 1;
  text-align: center;
  color: var(--cyan);
  text-shadow: var(--text-shadow);
  font-size: clamp(2rem, 3vw, 2.5rem);
}
.singleCharacter__imgContainer {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.singleCharacter__img {
  transition: var(--transition);
}
.singleCharacter__article:hover {
  box-shadow: var(--shadow-4);
}
.singleCharacter__article:hover .singleCharacter__img {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .singleCharacter__article:hover .singleCharacter__img {
    transform: scale(1);
  }
}
