@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@font-face {
  font-family: 'getSchwifty';
  src: url('../font/getSchwifty.ttf') format('truetype'),
    url('../font/getschwifty-webfont.woff2') format('woff2'),
    url('../font/getschwifty-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* ! ROOTING */
html {
  font-size: 62.5%; /* * 10px */
  scroll-behavior: smooth;
  min-height: 100vh;
}
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  /* ! COLORS */
  /* ? GREY */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  /* ? REST OF THE COLORS */
  --black: #222;
  --white: #fff;
  --red-dark: #842029;
  --green-dark: #0f5132;
  --cyan: #00b5c9;
  /* ? FONTS */
  --headingFont: 'getSchwifty';
  --bodyFont: 'Montserrat', sans-serif;
  --small-text: 0.7em;
  /* ? REST OF THE VARIABLES */
  --bg-color: radial-gradient(#fffac6, #e2e98f, #7ec251, #428859);
  --textColor: var(--grey-900);
  --border-radius: 1.2rem;
  --letter-spacing: 1px;
  --transition: all 350ms ease-out;
  --max-width: 1170px;
  --fixed-width: 600px;
  --text-shadow: 2px 2px 2px #80cf85, 4px 3px 2px #f3fee3;
  /* ? BOX SHADOWS */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
body {
  background: var(--bg-color);
  background-repeat: no-repeat;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}
p {
  max-width: 40em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* ? BUTTONS */
.btn {
  cursor: pointer;
  background: #7ec251;
  color: var(--white);
  border: transparent;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  display: inline-block;
  font-size: clamp(1.6rem, 3vw, 2rem);
}
.btn--white {
  background: #f1f1f1f1;
  color: #428859;
}
.btn:hover {
  background: #428859;
  box-shadow: var(--shadow-3);
}
.btn--white:hover {
  color: #f1f1f1f1;
}
/* ! main.jsx */
#root {
  display: grid;
  place-items: center;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .btn:hover {
    background: #7ec251;
    box-shadow: var(--shadow-1);
  }
  .btn--white:hover {
    background: #428859;
  }
}
