.btnUp__btn {
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  background-color: var(--white);
  transition: var(--transition);
  cursor: pointer;
  font-size: clamp(1.6rem, 3vw, 2rem);
  border: transparent;
  position: fixed;
  bottom: 5.5rem;
  right: 2rem;
}
.btnUp__icon {
  color: var(--cyan);
}
